@media all and (min-width: 820px) {
  .offerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px auto);
    row-gap: 0.5em;
    column-gap: 1em;
    justify-content: center;
  }

  .offerCard {
    /* height: 12em; */
    /* overflow: hidden; */
  }
}
