.title {
  color: var(--color-three);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

img {
  width: 50%;
}
