:root {
  --bg-main: #606c38;
  --bg-two: #283618;
  --bg-three: #d3bfa9;
  --bg-four: #dda15e;
  --color-main: #f8f8ff;
  --color-two: #f8f8ff;
  --color-three: #444444;
  --color-four: #444444;
  --page-break: 820px;
  --padding-mobile: 2%;
  --padding-desktop-leftright: 4%;
  --padding-desktop-above: 0.1%;
}

h1 {
  color: var(--color-three);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

img {
  width: 50%;
}
