.label{
    display: block;
    padding: 0 0 .1em 0;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
}


.actions{
    margin-top: 2em;

}

.offscreen{
    position: absolute;
    left: -9001px;
}

.howto{
    font-size: small;
    background-color: yellow;
}