.color-main{
    background-color: #4B497A;
    color: #f8f8ff;
}

.color-two{
    background-color: #5E7691;
    color: #f8f8ff;
}

.color-three{
    background-color: #C1BEB7;
    color: #444444;
}

.color-four{
    background-color: #E6E3D3;
    color: #444444;
}