:root {
  --bg-main: #606c38;
  --bg-two: #283618;
  --bg-three: #04330d36;
  --bg-four: #232528;
  --color-main: #f2f2f3;
  --color-two: #f8f8ff;
  --color-three: #444444;
  --color-four: #444444;
  --page-break: 820px;
  --padding-mobile: 2%;
  --padding-desktop-leftright: 4%;
  --padding-desktop-above: 2rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-main);
}

.color-main {
  background-color: var(--bg-main);
  color: var(--color-main);
}

.color-two {
  background-color: var(--bg-two);
  color: var(--color-two);
}

.color-three {
  background-color: var(--bg-three);
  color: #444444;
}

.color-four {
  background-color: var(--bg-four);
  color: var(--color-four);
}

.page {
  padding: var(--padding-mobile);
}

/* Button styling which is not visible as a button but only as its contained text item */
.button-nooutline {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

@media all and (min-width: 930px) {
  .page {
    padding: var(--padding-desktop-above) var(--padding-desktop-leftright);
  }
}
