.button {
  border-radius: 6em;
  border: none;
  padding: 0.8rem 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 300ms;
}

.button:hover {
  background: black;
  color: #f4f4f4;
}
