.card {
  /* border: 2px solid var(--color-four); */
  padding: 0.7em;
  border-radius: 1em;
  margin: 0.1em auto;
  background-color: var(--bg-three);
}

.card h1 {
  margin: 0 0 0.7em 0;
}

@media all and (min-width: 820px) {
  .card {
    width: 60%;
    padding: 1em;
  }
}
