/* TODO: Implement responsive design */

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fefefe;
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid black;
}

.contact_buttons {
  display: flex;
  justify-content: center;
}

.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
}
