.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid black;
  margin: 0 0 10em 0;
}

.contact_buttons {
  display: flex;
  justify-content: center;
}

.footer_nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
}

.footer_link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-three);
  margin: 0 2rem 0 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-three);
}

.text {
  display: none;
  font-size: larger;
}
