.footer {
  font-size: smaller;
  padding: 3rem 0 0 0;
  margin: 1rem 0 2em 0;
  position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.hrule {
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  width: 96%;
}

.contact_buttons {
  display: flex;
  justify-content: center;
}

.icon {
  vertical-align: middle;
  color: var(--color-three);
}

.footer_nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
}

.footer_link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-three);
  margin: 0 2rem 0 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-three);
}

.text {
  display: none;
  font-size: larger;
}
