/* TODO: Implement responsive design */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
  margin: 0 0 10em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-mobile);
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
}

.text {
  display: none;
}

.icon {
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

.input {
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  margin: 0 0.5em 0 0;
}

.right-side * {
  margin: 0 0.1rem;
}

.right-side li {
  float: left;
  height: auto;
  vertical-align: middle;
  line-height: 5rem;
  list-style-type: none;
}

/* push the content below the header down 4rem to not make the header overlap: */
.header + * {
  margin-top: 4rem;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #f8f8ff;
}

@media all and (min-width: 820px) {
  .header {
    position: fixed;
    padding: 0 var(--padding-desktop-leftright);
  }

  .icon {
    width: 1em;
    height: 1em;
  }

  .text {
    display: inline;
  }
}
