/* TODO: Implement responsive design */
:root {
  --header-height: 5rem;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 0 10em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-mobile);
  box-sizing: border-box;
  height: var(--header-height);
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-main);
}

.hrule {
  border-bottom: 10px solid black;
  width: 96%;
  /* margin: 0; */
  margin-top: var(--header-height);
}

.text {
  display: none;
  font-size: larger;
}

.icon {
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

.s-icon {
  font-size: larger;
}

.form {
  width: 10px;
  height: 50px;
}

.input {
  padding: 1em;
  /* border-radius: 0.5em; */
  border: 1px solid grey;
  width: 900%;
}
.search-button {
  visibility: hidden;
}

.right-side * {
  margin: 0 0.1rem;
}

.right-side li {
  float: left;
  height: auto;
  vertical-align: middle;
  line-height: var(--header-height);
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-three);
}

@media all and (min-width: 930px) {
  /* push the content below the header down 5rem to not make the header overlap: */
  .header + * {
    margin-top: var(--header-height);
  }
  .header-content {
    position: fixed;
    padding: 0 var(--padding-desktop-leftright);
  }
  .hrule {
    position: fixed;
    border-bottom: 10px solid black;
    margin: 0 var(--padding-desktop-leftright);
    width: 92%;
    box-sizing: border-box;
  }

  .form {
    width: auto;
    height: auto;
  }
  .input {
    padding: 1em;
    width: auto;
    /* border-radius: 0.5em; */
    border: 1px solid grey;
    border-right: none;
    margin: 0;
  }

  .search-button {
    visibility: visible;
    border-radius: 0%;
    border: 1px solid grey;
    border-left: none;
    padding: 1em 0.5em;
    margin: 0;
  }

  .icon {
    width: 1em;
    height: 1em;
  }

  .text {
    display: inline;
  }

  .s-icon {
    display: inline;
    /* font-size: x-large; */
  }
}
