.singleCard{
  margin: 1em 0;
  padding: .5em;

  border: 1px solid black;
  border-radius: .5em;
}

.singleCard a{
  text-decoration: none;
  color: var(--color-three);
}

.title{
  margin-top: .1em;
}

.meta{
  font-size: small;
}

.category{
  float: right;
}