.singleCard {
  color: var(--color-main);
  margin: 1em 0;
  padding: 1em;

  border-radius: 1em;
  /* for keeping the category inside the borders of the div */
  overflow: hidden;
  background-color: var(--bg-four);
}

.singleCard a {
  text-decoration: none;
  color: var(--color-main);
}

.title {
  margin-top: 0.1em;
}

.meta {
  font-size: small;
}

.category {
  float: right;
  font-size: x-small;
}
