<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href="stylesheet.css">
        <title> Teach me </title>
       
    </head>
      <div>
        <body>
           <header id="team">
           <h1> Wilkommen zu <strong>Teach me</strong>! </h1>
           <p> Mache aus Lernen ein Erlebnis.</p> 
           <p><strong> Teach me </strong> ist eine Lernplattform, über die Meschen ihr Wissen miteinander teilen können.</p>
           <a href="#" class="button"> sign-up </a>

        </header>
        </body> 
        </div>
</html>        