body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: rgb(13, 13, 14);
}

#team{
    background-image: url(./homescreen_team.jpg);
    background-size: cover;
    background-position: center;
   
    

}